/* :root {
    --text: #2D232E;
    --secondary-text: #474448;
    --text-box:  #534B52;
    --accent: #E0DDCF;
    --background: #F1F0EA;
} */

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --text: #2D232E;
    --secondary-text: #474448;
    --text-box:  #534B52;
    --accent: #E0DDCF;
    --background: #F1F0EA;
}
/* this is the dark theme button stuff to use when the javascript works */
/* @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
    --text: #F1F0EA;
    --secondary-text: #E0DDCF;
    --text-box:  #534B52;
    --accent: #474448;
    --background: #2D232E;
    } 
} */

body {
    background-color: var(--background);
}

#article{
    width: 90%;
    background-color: var(--text);
    padding: 4px;
    margin: 0 5%;
   
}

#article > h2{
    margin-bottom: 0;
    color: var(--background);
    text-align: left;
    margin-left: 25px;
}
/* Headline Stuff */
#headLines {
    text-align: center;
    border-bottom: solid 5px var(--text);
}

#headLines > h1 {
    color: var(--text);
}

#headLines > h2 {
    color: var(--secondary-text);
}
.container {
    padding-top: 0px;
    padding-bottom: 0px;
}

#news-articles {
    width: 50%;
    border-right: 4px solid var(--text);
    float: left;
    
}

#news-articles div h2 {
    color: var(--background);
    text-align: left;
    margin: initial;
}

#form {
   width: 50%;
    margin-left: 30%;
    text-align: center;
    padding-top: 0px;
    
    float: right;
    position: absolute;
}

#preview {
    width: 100%;
    text-align: center;
    padding-top: 0px;
   
}

.news-title {
    color: #F1F0EA;
    text-align: left;
    margin-bottom: 25px;
    background-color: var(--text);
    margin-right: 20px;
    padding-left: 25px;
border-radius: 10px 10px 10px 10px;
}



#search {
    width: 50%;
}

#date {
    width: 100%;

}

#list {
    width: 100%;
    margin-left: 10%;
}

#submit {
    width: 25%;
}

.grid {
    width: 60%;
    margin: 0 auto;
}

.list {
    width: 60%;
    margin: 0 auto;
}

footer {
    width: 100%;
    position:relative;left:80px;top:500px
}