body {
    background-color: rgb(175, 78, 12);
}


#headLines {
    text-align: center;
}

.container {
    padding-top: 0px;
    padding-bottom: 0px;
}

#form {
   width: 100%;
    margin-left: 30%;
    text-align: center;
    padding-top: 0px;
}



#search {
    width: 50%;
}

#date {
    width: 100%;

}

#list {
    width: 100%;
    margin-left: 10%;
}

#submit {
    width: 25%;
}

.grid {
    width: 40%;
    margin: 0 auto;
}